version: '3.3'
services:

  nginx:
    image: nginx:1.21.5
    restart: unless-stopped
    ports:
      - 8080:80
    volumes:
      - ../code:/var/www/html
      - ./configs/nginx/site.conf:/etc/nginx/conf.d/default.conf
    links:
      - php

  mariadb:
    image: mariadb:10.10
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_USER: arkamaya
      MARIADB_PASSWORD: arkamaya
      MARIADB_DATABASE: db_project_rizki
    volumes:
      - ./volumes/data:/var/lib/mysql

  adminer:
    image: adminer:4
    restart: unless-stopped
    ports:
      - 8081:8080

  php:
    build:
      context: .
      dockerfile: ./images/php/Dockerfile
    image: phpcomposer:arkamaya
    restart: unless-stopped
    volumes:
      - ../code:/var/www/html
      - ./configs/phpcomposer/php.ini:/usr/local/etc/php/php.ini
      - ./configs/phpcomposer/workers.conf:/etc/supervisor/conf.d/workers.conf
    command: >
      sh -c "composer install &&
             yarn install &&
             chmod -R 777 storage/logs/ &&
             chmod -R 777 storage/framework/sessions/ &&
             chmod -R 777 storage/framework/views/ &&
             chmod -R 777 storage/framework/cache/ &&
             chmod -R 777 storage/app/public/ &&
             php artisan route:clear &&
             php artisan cache:clear &&
             php artisan config:clear &&
             php artisan view:clear &&
             php artisan view:clear &&
             php artisan key:generate &&
             php artisan migrate &&
             php-fpm"
